.calendar-wrapper {
    width: 300px;
    height: 300px;
    background-color: #ddd;
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10% repeat(5, 1fr);
    text-align: center;
}